@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

body {
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FBFBFB;
  color: #323D56;
}

.w-full {
  width: 100%;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.border-box {
  box-sizing: border-box;
}

.flex-col {
  flex-direction: column;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1024px) {
  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-1\/3 {
    width: 33.3%;
  }
  .lg\:w-2\/3 {
    width: 66.6%;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-1\/2 {
  width: 50%;
}
